


/* ===================== index page start =============== */

.indexPage .navbar a {
    font-size: 1.1em;
}
@media only screen and (max-width: 500px){
  
  .indexPage .sign-up{
    width: 70px;
    padding: 3px 7px;
    text-align: center;
    margin-bottom: 10px;
  }  
  .indexPage .navbarMargin a{
  margin-left: 0;
  }
}
.indexPage input[type="search"]{
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    border-radius: 5px 0px 0px 5px;
  
  }
.indexPage .navbarMargin a{
  padding: 3px 7px;
  margin-left: 10px;
}
.indexPage .sign-up{
  padding: 3px 7px;
  border-radius: 5px;
  border: 1px solid #666;
  color: #666;
}
.indexPage .btn-outline-success{
  border-radius: 0px 5px 5px 0px;
  background-color: #28a745;
  color: #fff;
}

.indexPage nav img,.admin nav img{
    width: 60px;
    height: 50px;
  }


  /* landing page  section  */
 




.indexPage .header-overlay{
    background-color: rgba(31,31,31,0.50);
    height: 470px;
    
}

.indexPage .header-text h1{
    margin-top: 50px;
    color: #fff;
    font-size: 35px;
    font-weight: 300;
    line-height: 45px;
    padding-top: 30px;
    
}

.indexPage .header-text p{
    color: #eee;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    text-transform: uppercase;
}

.indexPage .btn-download
{
    background: transparent;
    border-color: rgba(31,31,31,0.50);
    color: #fff;
    padding: 10px 30px;
    font-size: 19px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;

}

.indexPage .btn-download:hover{
    background-color: rgba(31,31,31,0.50);
    color: #fff;
}

.indexPage .networkName{
    font-size: 2.3em;
    font-family: cursive;
    font-weight: bolder;
    font-style: italic;
    color: #FFC107;
}




  /* landing page section end */

  /* slogan start */

  .indexPage .write-up-box {
    width: 70%;
    margin: 5% 15% auto;
}

.indexPage .write-up {
    font-size: 1.8em;
    /*width:100%;*/
    padding: 5%;
}
  

.indexPage .slogan{
  background-color: #323232;
  margin-top:-30px;
  color: #fff;
  padding-bottom: 30px;
  font-size: 4.3em;
}

.indexPage .shout{
  font-size: 48px;
  color: #FFC107;
}


  /* slogan end */

  /* sellcar start  */

  

.indexPage #sellcar h2{
      font-size: 3.5em;
      background-color: rgba(50, 50, 50, 1);
      color: #fff;
}
.indexPage #sellcar h2 .gold{
  color: #ffc107;
}

.indexPage .sell-car-header {
    width: 100%;
    margin-top: 3%;
}

.indexPage .rectangle {
    width: 25%;
    min-height: 25rem;
    font-size: 1.5em;
    text-align: center;
    padding: 2% 1%;
    margin: 2%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    
}

.indexPage .button-sell {
    padding: 1% 2%;
    font-size: 1em;
    margin-bottom: 2%;
}

.indexPage .rectangle span {
    font-size: 1.2em;
}

  /* sellcar end */

  /* contact us start */

  .indexPage .contact-us{
    background-color: #333;
    min-height: 100px;
    color: #fff;
  
  }
  
  .indexPage .contact-us .container .p{
    padding-top: 20px;
    
  }
  
  .indexPage .contact-us .container p span{
    font-size: 21px;
  }
  
  .indexPage .contact-us .container p .copyright{
    float: right;
    font-size: 15px;
  }
  
  .indexPage .contact-us .container p .copyright .name{
    color: #ffc107;
  }

  /* contact us end */

  /* search modal start  */

  .indexPage .modal_dialog {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  
  .indexPage .modal_content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  
  .indexPage .modal_content .brandLogo #brandLogo{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: -50px;
  }
  .indexPage .modal_content .carsdisplay{
    justify-content: center;
  }
  .indexPage .modal_content .carsdisplay .cardContent{
    width: 250px;
    margin: 10px;
    text-align: center;
    border: 1px solid silver;
    border-radius: 5px;
  }
  
  .indexPage .modal_content .carsdisplay .cardContent img{
    width: 80%;
    height: 200px;
  }
  
  .indexPage .modal_content .carsdisplay .cardContent p{
    text-align: left;
    margin-left: 25px;
    margin-bottom: 0px;
    font-weight: 700;
  }
  
  .indexPage .modal_content .carsdisplay .cardContent .model{
    font-weight: 400;
    font-size: 14px;
    color: #666;
  }
  
  @media only screen and (max-width: 500px){
    .indexPage .modal_content .carsdisplay .cardContent{
    width: 150px;
    margin: 10px;
    text-align: center;
    border: 1px solid silver;
    border-radius: 5px;
  }
  
  .indexPage .modal_content .carsdisplay .cardContent img{
    width: 100%;
    height: 200px;
  }
  
  }
  
  
  
  .indexPage #searchModal .modal_content{
    overflow: scroll;
  }
  /* width */
  .indexPage #searchModal .modal_content::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .indexPage #searchModal .modal_content::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .indexPage #searchModal .modal_content::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  .indexPage #searchModal .modal_content::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  /* search modal end */

  /* login signup start  */

  .indexPage .modal .modal-header{
    border-bottom: none;
  }
  
  .indexPage .modal p{
    text-align: center;
  }
  
  .indexPage .modal #marginP1{
    margin-top: 10px;
    margin-bottom: 0;
  }
  
  .indexPage .modal #marginP2{
    margin-top: 0;
  }  
  .indexPage form .avatar {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -100px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #fff;
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  }
  .indexPage form .avatar img {
    width: 100%;
  }	
  
  /* login signup end */


  /* =================== index page end ================== */

  /* =================================================== */
  /* ==================== buyAndSell start ============== */
  /* ===================================================== */

/* header common  start */
.dashboardNav input[type="search"]{
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  border-radius: 5px 0px 0px 5px;
  transition: width 3s;

}


.dashboardNav  input[type="search"]:focus{
 width: 400px;

}


.dashboardNav  .btn-outline-success{
border-radius: 0px 5px 5px 0px;
background-color: #28a745;
color: #fff;
}

.dashboardNav  .btn-outline-success a{
  text-decoration: none;
  color: #fff;
  }
  

.dashboardNav  nav img{
  width: 60px;
  height: 50px;
}

.dashboardNav  form{float: right;}

.dashboardNav  #selling{
  font-size: 16px;
  color: #666;
  border: 2px solid rgba(0,0,0,.5);
  padding: 2px 10px;
  border-radius: 5px;
}

.dashboardNav  #selling a{
  color: rgba(0,0,0,.5);
  
}

.dashboardNav  #selling:hover{
  text-decoration: none;
  background-color: #28a745;
  color: #fff;
 transition: 1s;
 border-color: #28a745;
}



.dashboardNav  #selling #sell{
  font-size: 20px;
}

/* header common end */


/* dashbaord , vehicles , ads and admin[ads] common start */

.dashboard .carsdisplay,.vehicles .carsdisplay,.ads .carsdisplay,.admin .carsdisplay{
  justify-content: center;
 
}


.dashboard .carsdisplay .cardContent,.vehicles .carsdisplay .cardContent,.ads .carsdisplay .cardContent,.admin .carsdisplay .cardContent {
  width: 250px;
  margin: 10px;
  text-align: center;
  border: 1px solid silver;
  border-radius: 5px;
}

.dashboard .carsdisplay .cardContent:hover,.vehicles .carsdisplay .cardContent:hover,.ads .carsdisplay .cardContent:hover,.admin .carsdisplay .cardContent:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}
.dashboard .carsdisplay .cardContent a{
  text-decoration: none;
}

.dashboard .carsdisplay .cardContent a .brand{
  color: #111;
  font-weight: 500;
  margin-bottom: 0px;
  font-size: 18px;
  
}

.dashboard .carsdisplay .cardContent a .description{
  color: rgba(0,47,52,.64);
  margin-bottom: 0px;
  font-size: 14px;
}

.dashboard  .carsdisplay .cardContent a .price{
  background-color: #FFC107;
  color: #fff;
  padding: 0px 2px;
}

@media only screen and (max-width: 500px){

  .dashboard  .carsdisplay .cardContent,.vehicles  .carsdisplay .cardContent,.ads  .carsdisplay .cardContent,.admin  .carsdisplay .cardContent{
  width: 160px;
  margin: 10px;
  border: 1px solid silver;
  border-radius: 5px;
  
}

}

.dashboard .carsdisplay .cardContent img,.vehicles .carsdisplay .cardContent img,.ads .carsdisplay .cardContent img,.admin .carsdisplay .cardContent img{
  width: 80%;
  height: 200px;
}

.dashboard .carsdisplay .cardContent p,.vehicles .carsdisplay .cardContent p,.ads .carsdisplay .cardContent p,.admin .carsdisplay .cardContent p{
  text-align: left;
  margin-left: 25px;
  font-weight: 700;
}
/* dashbaord , vehicles , ads and admin[ads] common end */

/* dashboard start */




.dashboard .recommend{
  font-size: 23px;
  margin-top: 80px;
  font-weight: 500;
  color: #666;
    }

    .dashboard .recommend span{
      border-bottom: 2px solid #eee;
    }


/* dashboard end */

/* sell start */

.sell nav{
  background-color: #fff;
  opacity: .9;
  
}

.sell #logo{
      width: 60px;
      height: 50px;
      
}

.sell #home{
  width: 150px;
  background-color: #609D76;
  text-align: right;
  border-radius: 20px 0 0 20px;
  font-size: 21px;
  text-decoration: none;
  color: #fff;

}



.sell .sell-form{
  background-color: white;
  opacity: .8;
}
.sell .sell-form p{
  font-size: 21px;
  text-decoration: underline;
}

.sell .justify-content-end{
  text-align: right;
}

.sell .justify-content-end input{
  color: #fff;
 
  background-color: #609D76;
  border-color: #609D76;
  border-radius: 5px;
  font-size: 23px;
}

.sell .sell-indication{
  font-size: 21px;
  background-color: #ED7372;
  color: #fff;
  padding: 0 10px;
  border-radius: 20px;
}

.sell .sell-indication:hover{
  text-decoration: none;
  color: #fff;
}

/* sell end */

/* profile start */

.profile nav{
  background-color: #fff;
  opacity: .9;
  
}

.profile .navbar img{
      width: 60px;
      height: 50px;
      
}

.profile #home{
  width: 150px;
  background-color: #212735;
  text-align: right;
  border-radius: 20px 0 0 20px;
  font-size: 21px;
  text-decoration: none;
  color: #fff;

}




.profile .sell-indication{
  font-size: 21px;
  background-color: #ED7372;
  color: #fff;
  padding: 0 10px;
  border-radius: 20px;
}

.profile .sell-indication:hover{
  text-decoration: none;
  color: #fff;
}

.profile #photo{
display: none;
}

.profile #photoLabel{

padding: 0 5px; 
margin-top: -200px;
position: absolute;
width: 90%;
height: 200px;

}

.profile .profilePart{
margin-top: 20px;
}

.profile .profile-picture{
border-radius: 5px 0 0 5px;
}

.profile .profile-text{
border-radius: 0 5px 5px 0;
}
.profile .profile-picture,.profile-text{
padding: 20px;

background-color: rgba(255,255,255, 0.5);
}

.profile .profile-picture img{
width: 100%; 
height: 200px;
}

.profile #savePicture{
  background-color: #212735;
  border-color: #212735;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;

}

.profile .radio{
margin-left: 10px;
}

/* profile end */

/*  vechicles , ads and admin[ads] start */

.vehicles .brand_logo,.ads .brand_logo{

  margin-top: 80px;
  justify-content: center;
}

.vehicles img, .ads img, .admin img{
width: 50px; 
height: 50px;
}

.vehicles .price,.ads .price,.admin .price{
  margin-bottom: 0;
  color: black;
  background-color: #fff;
  font-weight: 700;
  font-size: 18px;
}

.vehicles .date,.ads .date,.admin .date{
font-size: 10px;
margin-right: 20px;
float: right;
font-weight: 0;
color: rgba(0,47,52,.64);
margin-top: 5px;
}

.vehicles .cardContent a:hover,.ads .cardContent a:hover,.admin .cardContent a:hover{
text-decoration: none;
}

.vehicles .description,.ads .description,.admin .description{
color: #666;
}

/*  vechicles , ads and admin[ads] end */

/* vehicles start */
.vehicles .brand_logo img{
      width: 70px;
      height: 70px;

}


.vehicles .swing {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  float:left;
  
}
.vehicles .swing img {

  display: block;
}

 
@keyframes swing {
  0% { transform: rotate(3deg); }
  100% { transform: rotate(-3deg); }
}

/* vehicles end */

/* vehiclesProfile start */
.vehicleProfile .carouselText{
  margin-top: 80px;
}
.vehicleProfile .carousel-inner img{
  width:  100%;
  height: 450px;
 
border-radius: 5px;
}

.vehicleProfile .description{
  border: 1px solid rgba(0,47,52,.2);
  padding: 20px;
  border-radius: 5px;
}

.vehicleProfile .description .price{
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 0;
}

.vehicleProfile .description .brandModel{
  color: #000;
  font-size: 16px;
}

.vehicleProfile .year,.milage{
  font-size: 16px;
  
}

.vehicleProfile .address{
  font-size: 13px;
  color:  rgba(0,47,52,.64);
}

.vehicleProfile .date{
  font-size: 13px;
  color:  rgba(0,47,52,.64);
  float: right;
  margin-top: 7px;
}

.vehicleProfile #vertical-2 thead,#vertical-2 tbody{
          display:inline-block;
      }

      .vehicleProfile .details{
          font-size: 21px;
          font-weight: 700;
      }

      .vehicleProfile tbody{
          margin-left: 50px;
      }

      .vehicleProfile .carousel-control-prev-icon,.carousel-control-next-icon{
          background-color: black;
      }

/* vehicleProfile end */



    /* =================================================== */
  /* ==================== buyAndSell end ============== */
  /* ===================================================== */